@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Quicksand:wght@300&display=swap');

.App-header {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    background: black;
    animation: headerAnimation 5s forwards;
    animation-delay: 1s;
}

@keyframes headerAnimation {
    from {min-height: 100vh;}
    to {min-height: 5vh;}
}


.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -450%);
    padding: 0 20px;
    font-size: 3.2em;
    color: #fff;
    text-shadow: 0 0 20px rgb(255, 0, 149);
    font-family: 'Caveat', cursive;
    /* animation: titleAnimation 4s forwards;
    animation-delay: 3s; */
}

/* @keyframes titleAnimation {
    from {transform: translate(-50%, -50%);}
    to {transform: translate(-50%, -450%);}
} */
.title:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 20px;
    z-index: -1;
    color: rgb(255, 0, 149);
    filter: blur(15px);
    opacity: 1;
}

.title:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 0, 149);
    z-index: -2;
    opacity: .2;
    filter: blur(40px);
}

.itemDouble {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin-bottom: 10px;
    margin-top: 130px;
    font-weight: 900;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.3em;
}

.itemExplore {
    margin-right: 20px;
    opacity: 0;
    animation: itemExploreAnimation 3s forwards;
    animation-delay: 6s;
}

.itemExplore:hover {
    text-decoration: underline;
}

@keyframes itemExploreAnimation {
    from {opacity: 0;}
    to {opacity: 1;}
}

.itemPlaylist {
    margin-right: 20px;
    opacity: 0;
    animation: itemPlaylistAnimation 3s forwards;
    animation-delay: 9s;
}

.itemPlaylist:hover {
    text-decoration: underline;
}

@keyframes itemPlaylistAnimation {
    from {opacity: 0;}
    to {opacity: 1;}
}

.itemLogin {
    margin-right: 20px;
    opacity: 0;
    animation: itemLoginAnimation 3s forwards;
    animation-delay: 12s;
}

.itemLogin:hover {
    text-decoration: underline;
}

@keyframes itemLoginAnimation {
    from {opacity: 0;}
    to {opacity: 1;}
}

@media all and (min-width: 700px) {

    .title {
        transform: translate(-50%, -400%);
    }
}